# AndroidX Properties
android.useAndroidX=true
android.enableJetifier=true

# Build optimizations
org.gradle.jvmargs=-Xmx4096m -Dfile.encoding=UTF-8
org.gradle.parallel=true
org.gradle.caching=true
org.gradle.configureondemand=true

# Kotlin
kotlin.code.style=official

# KMP configuration
kotlin.mpp.applyDefaultHierarchyTemplate=false
kotlin.mpp.androidGradlePluginCompatibility.nowarn=true

# To set Java home, add this line with your local path:
# org.gradle.java.home=/path/to/your/jdk17
